@{
  Layout = "_Layout";
}
@model RpgCompendium.Models.Weapon

<h1>Are you sure you want to delete this?</h1>
<hr />
@Html.DisplayNameFor(model => model.WeaponId): @Html.DisplayFor(model => model.WeaponName)
@using (Html.BeginForm())
{
  <br>
  <input type="submit" value="Delete" class="btn btn-danger btn-sm" />
}
<br>
<p>@Html.ActionLink("Cancel", "Details", null, new {id = Model.WeaponId}, new {@class="btn btn-primary btn-sm"})</p>
