@{
  Layout = "_Layout";
}
@model RpgCompendium.Models.MainType

<h3>Are you sure you want to delete this?</h3>
<hr />

@Html.DisplayNameFor(model => model.MainTypeName): @Html.DisplayFor(model => model.MainTypeName)
@using (Html.BeginForm())
{
  <br>
  <input type="submit" value="Delete" class="btn btn-danger btn-sm" />
}
<br>
<p>@Html.ActionLink("Cancel", "Details", null, new {id = Model.MainTypeId}, new {@class="btn btn-primary btn-sm"})</p>
