@{
  Layout = "_Layout";
}
@model RpgCompendium.Models.ItemProperty

<h3>Are you sure you want to delete this?</h3>
<hr />
@Html.DisplayNameFor(model => model.ItemPropertyId): @Html.DisplayFor(model => model.ItemPropertyName)
@using (Html.BeginForm())
{
  <br>
  <input type="submit" value="Delete" class="btn btn-danger btn-sm" />
}
<br>
<p>@Html.ActionLink("Cancel", "Details", null, new {id = Model.ItemPropertyId}, new {@class="btn btn-primary btn-sm"})</p>
